<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Zeraflix</title>
  <link rel="icon" type="image/jpg" href="/images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/pagination.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
  <div class="wrap">
    <div class="sidebar">
      <header>
        <div class="logo">
          <a href="<%= url('home') %>" title="Home">
            <img src="/images/zera-logo.png"/>
          </a>
        </div>
        <div class="clearFloat"> </div>
      </header>
      <div class="clearFloat"></div>
    </div>
    <div class="content">
      <div class="clearFloat"></div>
      <div class="part">
        <h2>
         Zeraflix<span class="channel-name"></span> - Page <span class="page-number">1</span> <span class="loading-message"></span>
        </h2>
        <span class="part-bottom"></span>
        <div class="clearFloat"></div>
        <section class="container">
          <nav class="pagination">
            <a id="link-prev" href="#" data-offset="0" class="prev">&lt;</a>
            <a id="link-next" href="#" data-offset="0" class="next">&gt;</a>
          </nav>
        </section>
      </div>
      <footer>
        <div class="clearFloat"></div>
        <div class="copy">
          <p>&copy; Zeraflix - All Rights Reserved</a></p>
        </div>
      </footer>
    </div>
    <div class="clearFloat"></div>
  </div>

  <script src="/jquery/jquery.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/ejs/ejs.min.js"></script>

  <script>
    var client_id = '<%= client_id %>';
  </script>

  <script src="/js/handleVideo.js"></script>

  <div id="dialog-message" title="Choix du lien pour VLC">
  </div>

  <script>
    $( "#dialog-message" ).dialog({
      autoOpen: false,
      dialogClass: 'dialog-link',
      modal: true,
      buttons: {
        Ok: function() {
          $( this ).dialog( "close" );
        }
      }
    });
    $(".ui-dialog-title").append("<a href='https://chrome.google.com/webstore/detail/native-hls-playback/emnphkkblegpebimobpbekeedfgemhof' target='_blank'><span id='iconhelp' class='ui-icon ui-icon-signal-diag'></span></a>");
  </script>

</body>

</html>
